@mixin breakpoint($point) {
	@if $point==sm {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $point==max-sm {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $point==md {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point==max-md {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $point==lg {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point==max-lg {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $point==xl {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point==max-xl {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $point==xxl {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $point==max-xxl {
		@media (max-width: 1399px) {
			@content;
		}
	}
}
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap");
:root {
	--primary: #323fd4;
	--primary-bg: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
	--blue: #4e6aff;
	--secondary: #f55b7a;
	--light-blue: #e6edfe;
	--title: #18191a;
	--border: #d1d5db;
	--white: #fff;
	--body: "Inter", sans-serif;
	--heading: "Barlow", sans-serif;
}
h1,
h2,
h3 {
	font-family: var(--heading);
	font-weight: 700;
	color: var(--title);
}

h4,
h5,
h6 {
	font-family: var(--heading);
	font-weight: 600;
	color: var(--title);
}
@include breakpoint(xl) {
	.container {
		max-width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
ul {
	padding: 0;
	margin: 0;
	li {
		text-decoration: none;
	}
}
a {
	text-decoration: none;
}
.text--primary {
	color: var(--primary);
}
body {
	color: #444649;
}
/* Header Menu */
header {
	padding: 22px 0;
	position: sticky;
	z-index: 999;
	top: 0;
	background: var(--white);
}
.header-wrapper {
	.logo {
		max-width: 288px;
		display: block;
		img {
			width: 100%;
		}
	}
}
.menu {
	display: flex;
	flex-wrap: wrap;
	li {
		list-style: none;
		a {
			text-decoration: none;
			text-transform: capitalize;
			color: #444649;
			font-size: 18px;
			font-weight: 500;
			display: block;
			&:hover {
				color: var(--primary);
			}
			padding: 10px 30px;
		}
	}
}
.menu-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	.menu {
		margin-left: auto;
		margin-right: auto;
	}
}
.login-btns {
	display: flex;
	align-items: center;
	gap: 16px;
}
.header-btn {
	background: var(--primary-bg);
	color: var(--white);
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 16px 32px;
	display: inline-block;
	border-radius: 8px;
	transition: all ease 0.3s;
	text-align: center;
	&:hover {
		color: var(--white);
		opacity: 0.9;
	}
}
.select-container {
	position: relative;
	cursor: pointer;
	.selected-item {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 500;
		background: transparent;
		border: 1px solid var(--border);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
		height: 56px;
		padding-left: 17px;
		padding-right: 13px;
		min-width: 140px;
		justify-content: center;
		&::after {
			display: inline-block;
			width: 8px;
			height: 8px;
			border-right: 1.6px solid var(--title);
			border-bottom: 1.6px solid var(--title);
			content: "";
			transform: translateY(-2px) rotate(45deg);
			margin-left: 8px;
		}
		img {
			margin-right: 8px;
			width: 24px;
		}
	}
	.select-data {
		position: absolute;
		right: 0;
		top: 100%;
		width: 100%;
		min-width: 200px;
		z-index: 99;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		background: #fff;
		border: 1px solid var(--border);
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: all ease 0.3s;
		li {
			display: flex;
			align-items: center;
			padding: 5px 20px;
			&:hover {
				background: var(--light-blue);
			}
			&:first-child {
				padding-top: 10px;
			}
			&:last-child {
				padding-bottom: 10px;
			}
			img {
				width: 24px;
				margin-right: 8px;
			}
		}
	}
	.selected-item:focus ~ .select-data {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
@include breakpoint(max-xl) {
	.header-wrapper {
		.logo {
			max-width: 220px;
		}
		.menu-area {
			.menu {
				li {
					a {
						padding: 10px 20px;
					}
				}
			}
		}
	}
	.login-btns {
		.header-btn {
			padding: 11px 25px;
		}
	}
	.select-container {
		.selected-item {
			height: 45px;
		}
	}
}
@include breakpoint(max-lg) {
	header {
		padding: 18px 0;
	}
	.header-wrapper {
		.header-bar {
			font-size: 24px;
			line-height: 1;
			color: var(--title);
		}
		.logo {
			max-width: 220px;
		}
		.menu-area {
			flex-wrap: wrap;
			position: absolute;
			top: 100%;
			padding: 30px 25px;
			background: #fff;
			width: calc(100% - 50px);
			border-radius: 0 0 10px 10px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			left: 25px;
			transition: all ease 0.3s;
			&:not(.active) {
				opacity: 0;
				visibility: hidden;
				transform: translateY(-10px);
			}
			.menu {
				width: 100%;
				flex-direction: column;
				// gap: 10px;
				margin-bottom: 25px;
				li {
					a {
						padding: 5px 0;
					}
				}
			}
		}
		.select-data {
			left: 0;
			right: unset;
		}
	}
}
@include breakpoint(max-sm) {
	.header-wrapper {
		.login-btns {
			gap: 10px;
			flex-wrap: wrap;
			.select-container {
				flex-grow: 1;
				* {
					font-size: 14px;
				}
				.selected-item {
					min-width: 120px;
					width: 100%;
				}
			}
			.header-btn {
				font-size: 14px;
				font-weight: 400;
				flex-grow: 1;
			}
		}
	}
}
.pt-120 {
	padding-top: 120px;
}
.pb-120 {
	padding-bottom: 120px;
}
@include breakpoint(max-lg) {
	.pt-120 {
		padding-top: 100px;
	}
	.pb-120 {
		padding-bottom: 100px;
	}
}
@include breakpoint(max-md) {
	.pt-120 {
		padding-top: 80px;
	}
	.pb-120 {
		padding-bottom: 80px;
	}
}
// Section Header
.section-header {
	.subtitle {
		font-size: calc(0.75rem + 0.9vw);
		text-transform: capitalize;
		font-family: var(--body);
	}
	.title {
		font-size: calc(1.75rem + 0.9vw);
		text-transform: capitalize;
	}
	font-size: calc(0.875rem + 0.1vw);
	font-weight: 500;
	color: var(--title);
	margin-bottom: 25px;
	@include breakpoint(lg) {
		margin-bottom: 35px;
	}
	@include breakpoint(xl) {
		font-size: 20px;
		margin-bottom: 80px;
		.subtitle {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 10px;
		}
		.title {
			font-size: 48px;
			line-height: 62px;
			margin-bottom: 16px;
		}
	}
	&.center-align {
		max-width: 720px;
		@include breakpoint(max-xl) {
			max-width: 600px;
		}
	}
}
//Work Process
.process-section {
	position: relative;
}
.process-item {
	// margin: 0 auto;
	text-align: center;
	font-weight: 700;
	.content {
		max-width: 315px;
		margin: 0 auto;
	}
	.sl {
		width: 86px;
		height: 86px;
		background: var(--primary-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;
		font-weight: 600;
		font-family: var(--body);
		color: var(--white);
		border-radius: 50%;
		margin: 0 auto 44px;
	}
	@include breakpoint(xl) {
		font-size: 20px;
	}
	position: relative;
	.arrow2 {
		position: absolute;
		top: 0px;
		left: calc(50% + 100px);
	}
	.arrow1 {
		position: absolute;
		right: calc(50% + 100px);
		top: 0px;
	}
	@include breakpoint(max-xl) {
		.arrow1,
		.arrow2 {
			width: 150px;
		}
		.arrow1 {
			right: calc(50% + 90px);
		}
		.arrow2 {
			left: calc(50% + 90px);
		}
	}
	max-width: calc(100% / 3);
	@include breakpoint(max-lg) {
		@include breakpoint(md) {
			.sl {
				width: 60px;
				height: 60px;
				font-size: 22px;
				margin-bottom: 30px;
			}
			.arrow1,
			.arrow2 {
				width: 120px;
				top: 0px;
			}
			.arrow1 {
				right: calc(50% + 60px);
			}
			.arrow2 {
				left: calc(50% + 60px);
			}
		}
	}
	@include breakpoint(max-md) {
		max-width: 100%;
		width: 100%;
		.arrow1,
		.arrow2 {
			display: none;
		}
		.sl {
			width: 60px;
			height: 60px;
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
}
.process-item:nth-child(2) {
	margin-top: 60px;
	flex-grow: 1;
	@include breakpoint(max-lg) {
		@include breakpoint(md) {
			margin-top: 40px;
		}
	}
	@include breakpoint(max-md) {
		margin: 30px 0;
	}
}
//Feature
.feature-img {
	filter: drop-shadow(0px 4px 40px rgba(43, 46, 74, 0.2));
	max-width: 100%;
}
.__feature {
	display: flex;
	align-items: center;
	&-img {
		width: 48px;
		img {
			max-width: 100%;
		}
	}
	&-cont {
		width: 0;
		flex-grow: 1;
		padding-left: 40px;
		color: #444649;
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
		max-width: 371px;
		text-transform: capitalize;
		.title {
			margin-bottom: 16px;
			color: var(--primary);
			@include breakpoint(xl) {
				font-size: 24px;
			}
		}
	}
	&:not(:last-child) {
		margin-bottom: 32px;
	}
	@include breakpoint(max-xl) {
		@include breakpoint(lg) {
			&-cont {
				padding-left: 30px;
				.title {
					margin-bottom: 10px;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		&-cont {
			padding-left: 20px;
			.title {
				margin-bottom: 10px;
			}
			font-size: 16px;
			line-height: 1.5;
			font-weight: 400;
		}
	}
}
.feature-shape {
	width: 434.84px;
	height: 434.84px;
	left: -192.34px;
	// top: 1738.71px;
	background: #3d51df;
	filter: blur(337.5px);
	-webkit-filter: blur(337.5px);
	-moz-filter: blur(337.5px);
	border-radius: 35px;
	position: absolute;
	z-index: -1;
	opacity: 0.7;
	@include breakpoint(max-md) {
		opacity: 0.5;
	}
}
.process-shape {
	background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
	filter: blur(337.5px);
	-webkit-filter: blur(337.5px);
	-moz-filter: blur(337.5px);
	border-radius: 35px;
	width: 369px;
	height: 370px;
	right: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.7;
	@include breakpoint(max-md) {
		opacity: 0.5;
	}
}
/*Temp Email*/
.temp-email-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
	max-width: 470px;
	@include breakpoint(max-xl) {
		font-size: 36px;
		line-height: 1.4;
	}
	@include breakpoint(max-sm) {
		font-size: 26px;
	}
}
.temp-email-img {
	max-width: 826px;
	@include breakpoint(max-xxl) {
		max-width: 720px;
	}
	@include breakpoint(max-xl) {
		width: 100%;
	}
	@include breakpoint(max-sm) {
		width: 100%;
		margin-bottom: -10px;
	}
}
.temp-email-imgaes {
	position: relative;
	max-width: 550px;
	margin-left: auto;
	height: 415px;
	a {
		display: block;
		width: 264px;
		img {
			width: 100%;
			box-shadow: -15.1797px 16.3473px 22.1857px rgba(78, 106, 255, 0.16);
			border-radius: 22.1857px;
		}
		position: absolute;
		&:nth-child(1) {
			top: 0;
			left: 100px;
		}
		&:nth-child(2) {
			top: 167px;
			left: -120px;
		}
		&:nth-child(3) {
			top: 141px;
			left: 300px;
		}
		&:nth-child(4) {
			bottom: 0;
			left: 12px;
		}
		&:nth-child(5) {
			bottom: 22px;
			left: 385px;
		}
		@include breakpoint(max-xxl) {
			max-width: 240px;
		}
		@include breakpoint(max-xl) {
			&:nth-child(1) {
				top: 0;
				left: 120px;
			}
			&:nth-child(2) {
				top: 137px;
				left: -20px;
			}
			&:nth-child(3) {
				top: 120px;
				left: 300px;
			}
			&:nth-child(4) {
				bottom: 0;
				left: 50px;
			}
			&:nth-child(5) {
				bottom: 22px;
				left: 335px;
			}
		}
		@include breakpoint(max-sm) {
			max-width: 165px;
			&:nth-child(1) {
				top: 0;
				left: 60px;
			}
			&:nth-child(2) {
				top: 97px;
				left: 0;
			}
			&:nth-child(3) {
				top: 120px;
				left: 200px;
			}
			&:nth-child(4) {
				bottom: 70px;
				left: 50px;
			}
			&:nth-child(5) {
				bottom: 0;
				left: 180px;
			}
		}
	}
	@include breakpoint(max-xl) {
		height: 355px;
	}
	@include breakpoint(max-lg) {
		margin-right: auto;
	}
	@include breakpoint(max-sm) {
		height: 320px;
		max-width: 351px;
		margin: 0 auto;
	}
}
/*Banner Section*/
.banner-section {
	padding-bottom: 400px;
	&::before {
		content: "";
		background: linear-gradient(104.77deg, #323fd4 3.99%, #f06e88 101.59%);
		inset: 0;
		position: absolute;
		// opacity: 0.7;
		mix-blend-mode: screen;
	}
	position: relative;
	.container {
		position: relative;
		z-index: 1;
	}
}
.banner-content {
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	color: var(--white);
	.title {
		color: var(--white);
		font-size: 48px;
		text-transform: capitalize;
		margin-bottom: 12px;
	}
	max-width: 750px;
	margin: 0 auto;
	.text {
		max-width: 639px;
		margin: 0 auto;
	}
	padding: 92px 0 70px;
	@include breakpoint(max-lg) {
		.title {
			font-size: 42px;
			margin-bottom: 15px;
		}
	}
	@include breakpoint(max-md) {
		.title {
			font-size: 36px;
		}
		font-size: 18px;
		font-weight: 400;
	}
	@include breakpoint(max-sm) {
		padding: 70px 0;
		.title {
			font-size: 28px;
		}
		font-size: 16px;
	}
}
.banner-email-wrapper {
	position: relative;
	background: var(--white);
	max-width: 874px;
	margin: 0 auto;
	border-radius: 12px;
	overflow: hidden;
	padding: 26px 20px;
	.banner-email-top {
		max-width: 528px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
		.subtitle {
			font-size: 20px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 24px;
		}
		.copy-txt {
			margin-bottom: 28px;
		}
	}
}
.copy-txt {
	position: relative;
	input {
		background: var(--primary);
		color: var(--white);
		border-radius: 12px;
		height: 72px;
		border: none;
		outline: none;
		box-shadow: none;
		width: 100%;
		font-weight: 500;
		font-size: 20px;
		padding: 0 26px;
		padding-right: 130px;
	}
	button {
		background: var(--secondary);
		border: none;
		outline: none;
		box-shadow: none;
		position: absolute;
		top: 8px;
		right: 8px;
		height: calc(100% - 16px);
		border-radius: 10px;
		padding: 0 24px;
		color: var(--white);
		font-weight: 500;
		font-size: 20px;
	}
	@include breakpoint(max-md) {
		input {
			font-size: 16px;
			font-weight: 400;
			height: 60px;
		}
		button {
			font-size: 16px;
		}
	}
	@include breakpoint(max-sm) {
		input {
			font-size: 14px;
			padding-right: 95px;
			padding-left: 15px;
		}
		button {
			font-size: 13px;
			padding: 0 15px;
		}
	}
}
.mail-shape {
	top: 50px;
	// left: 0;
	position: absolute;
	right: calc(50% + 155px);
}
.banner-btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
.outline-btn {
	border: 1px solid var(--blue);
	color: var(--blue);
	border-radius: 12px;
	padding: 12px 24px;
	// background: #fff;
	font-size: 16px;
	font-weight: 600;
	svg {
		margin-right: 5px;
	}
	@include breakpoint(max-md) {
		padding: 8px 12px;
		border-radius: 7px;
		font-size: 14px;
	}
}
.count-message {
	img {
		margin-right: 10px;
	}
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--primary);
	span {
		max-width: calc(100% - 50px);
	}
	margin-top: 45px;
	@include breakpoint(max-sm) {
		margin-top: 25px;
	}
}
.table--wrapper {
	margin: 24px -20px 0;
}
.__banner-table {
	margin: 0;
	vertical-align: middle;
	thead {
		background: var(--primary);
		th {
			color: var(--white);
			padding: 24px 0;
			&:first-child {
				// 	padding-left: 106px;
				text-align: center;
			}

			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
		}
	}
	tbody {
		td {
			padding: 20px 24px;
			// transition: all ease 0.3s;
		}
	}
	.check-input {
		width: 16px;
		height: 16px;
		border: none;
		margin: 0;
		input {
			display: none;
		}
		span {
			width: 100%;
			height: 16px;
			border-radius: 5px;
			border: 2px solid rgba(#000, 0.4);
			position: absolute;
			aspect-ratio: 1;
			top: 2px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 10px;
				opacity: 0;
			}
		}
		position: relative;
		z-index: 3;
		input:checked ~ span {
			color: #fff;
			background: var(--primary);
			border: none;
			img {
				opacity: 1;
			}
		}
	}
	.user {
		display: flex;
		align-items: center;
		img {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			object-fit: cover;
			border: 2px solid var(--white);
			margin-right: 6px;
		}
		h6 {
			white-space: nowrap;
		}
	}
	.mail-data {
		.subtitle {
			font-size: 12px;
			font-weight: 600;
			font-family: var(--body);
			margin: 0;
			margin-bottom: 8px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		font-size: 12px;
		line-height: 1.5;
		p {
			max-width: 395px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
			color: #303133;
		}
	}
	.refresh {
		position: relative;
		z-index: 4;
		cursor: pointer;
	}
	.not-hover-content {
		font-size: 12px;
		display: flex;
		align-items: center;
		.circle-shape {
			width: 16px;
			height: 16px;
			display: inline-block;
			background: var(--primary);
			border-radius: 50%;
		}
	}
	.open-right-data {
		display: none;
		position: absolute;
		top: calc(50% - 6px);
		right: 24px;
		z-index: 9;
	}
	tr.open-table-row {
		td {
			background: #e6edfe;
			border-bottom-color: transparent;
		}
		.mail-data,
		.close-right-data {
			opacity: 0;
			visibility: hidden;
		}
		.open-right-data {
			font-weight: 600;
			font-size: 12px;
			line-height: 12px;
			color: #18191a;
			display: block;
		}
	}
	@include breakpoint(max-md) {
		thead {
			th {
				padding: 15px 0;
				font-size: 18px;
				font-weight: 600;
			}
		}
		tbody {
			td {
				padding: 12px;
			}
			.user {
				h6 {
					font-weight: 500;
					font-size: 12px;
				}
			}
			.mail-data {
				.subtitle {
					margin-bottom: 0;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		min-width: 575px;
		thead {
			th {
				padding: 15px 0;
				font-size: 18px;
				font-weight: 600;
			}
		}
		tbody {
			td {
				padding: 12px;
			}
			.user {
				h6 {
					font-weight: 500;
					font-size: 12px;
				}
			}
			.mail-data {
				.subtitle {
					margin-bottom: 0;
				}
			}
		}
	}
}
.__outline-btn {
	padding: 9px 17px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	background: transparent;
	border-color: var(--primary);
	color: var(--primary);
	border-radius: 6px;
	transition: all ease 0.3s;
	outline: none;
	border: 1px solid;
	&:hover {
		background: var(--primary);
		color: var(--white);
	}
}
.__not-outline-btn {
	padding: 9px 17px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	background: var(--primary);
	color: var(--white);
	border-radius: 6px;
	outline: none;
	transition: all ease 0.3s;
	border: 1px solid;
	&:hover {
		background: transparent;
		border-color: var(--primary);
		color: var(--primary);
	}
}
.mail-btn-container {
	gap: 12px;
}
label {
	cursor: pointer;
}
.table-hover > tbody > tr:hover > * {
	--bs-table-accent-bg: #e6edfe;
	color: var(--bs-table-hover-color);
}
.hover-content {
	width: 68px;
	height: 32px;
	border: 1px solid var(--border);
	border-radius: 34px;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	top: calc(50% - 16px);
	right: 24px;
	background: #fff;
	z-index: 9;
	img {
		height: 16px;
	}
}
.hover-content,
.not-hover-content {
	transition: all ease 0.4s;
}
.table-hover > tbody > tr {
	&:hover {
		.not-hover-content {
			opacity: 0;
			visibility: hidden;
		}
	}
	&:not(:hover) {
		.hover-content {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.checked__all-wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}
.click-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.hidden-table-data {
	border: none !important;
	td {
		overflow: hidden;
		padding: 0 !important;
		border: none !important;
	}
	.table-hidden-content {
		overflow: hidden;
		transition: all ease 0.3s;
		// height: 100%;
		min-height: 220px;
		&:not(.active) {
			height: 0px;
			opacity: 0;
			min-height: 0;
			transform: translateY(-50px);
		}
	}
}
.table-hidden-content {
	background: #e6edfe;
	.content {
		padding: 0 24px 24px;
		color: #303133;
		font-size: 16px;
		font-weight: 500;
		.wish-content {
			padding: 14px 0;
			border-bottom: 1px solid var(--border);
		}
		.body-content {
			padding: 14px 0;
		}
	}
}
/*Get App Section*/
.get-app {
	padding: 88px 0 116px;
	background: #f4cfde;
	overflow: hidden;
	position: relative;
	@include breakpoint(max-lg) {
		padding-bottom: 0;
		padding-top: 70px;
	}
}
.get-app-wrapper {
	.content {
		max-width: 412px;
		.btns-grp {
			display: flex;
			flex-wrap: wrap;
			gap: 25px;
			img {
				max-width: 100%;
			}
		}
		.title {
			font-size: 48px;
			text-transform: capitalize;
			margin-bottom: 24px;
		}
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
		.text {
			margin-bottom: 64px;
		}
	}
	.mobile-app {
		position: absolute;
		bottom: 0;
		left: calc(50% + 10px);
		max-width: 550px;
	}
	@include breakpoint(max-xl) {
		.content {
			.text {
				margin-bottom: 40px;
			}
		}
	}
	@include breakpoint(max-lg) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.content {
			margin: 0 auto;
			text-align: center;
			.text {
				margin-bottom: 40px;
			}
		}
		.mobile-app {
			position: relative;
			left: unset;
			bottom: unset;
			margin-top: 50px;
			width: 100%;
			max-width: 400px;
		}
	}
	@include breakpoint(max-md) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.content {
			margin: 0 auto;
			text-align: center;
			.title {
				font-size: 36px;
				margin-bottom: 10px;
			}
			.text {
				margin-bottom: 30px;
			}
			.btns-grp {
				justify-content: center;
				a {
					display: block;
					height: 30px;
					img {
						height: 40px;
					}
				}
			}
		}
		.mobile-app {
			position: relative;
			left: unset;
			bottom: unset;
			margin-top: 50px;
			width: 100%;
			max-width: 400px;
		}
	}
}
/*Customer Section*/
.customer-section {
	padding: 112px 0 109px;
	overflow: hidden;
	@include breakpoint(max-md) {
		padding: 70px 0;
	}
}
.customer-slider {
	max-width: 608px;
	margin: 0 auto;
	.swiper {
		overflow: visible;
	}
	@include breakpoint(md) {
		padding-bottom: 80px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 20px;
		color: #767779;
		width: 64px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: all ease 0.3s;
		&::after {
			font-size: 20px;
			font-weight: 800;
		}
		&:hover {
			background: #f2f6ff;
		}
	}
	.swiper-button-prev {
		left: -100px;
	}
	.swiper-button-next {
		right: -100px;
	}
	@include breakpoint(max-xl) {
		max-width: 500px;
	}
	@include breakpoint(max-lg) {
		max-width: 420px;
	}
	@include breakpoint(max-md) {
		.swiper-button-prev {
			left: -70px;
		}
		.swiper-button-next {
			right: -70px;
		}
	}
}
.__client-item {
	text-align: center;
	blockquote {
		border-radius: 20px;
		padding: 40px 50px 76px;
		background: #f2f6ff;
		font-size: 18px;
		font-weight: 600;
		font-style: italic;
		transition: all ease 0.5s;
	}
	.avatar {
		width: 96px;
		height: 96px;
		border-radius: 50%;
		object-fit: cover;
		margin-top: -48px;
		margin-bottom: 16px;
		border: 2px solid transparent;
	}
	.name {
		text-transform: capitalize;
		font-size: 16px;
		font-weight: 600;
	}
	.designation {
		color: #626566;
	}
	transition: all ease 500ms;
	@include breakpoint(max-lg) {
		blockquote {
			font-size: 16px;
			font-weight: 400;
			padding: 40px 25px 60px;
		}
	}
}
.swiper-slide-next,
.swiper-slide-prev {
	.__client-item {
		@include breakpoint(md) {
			transform: translateY(80px);
		}
	}
}
.swiper-slide-active {
	.__client-item {
		blockquote {
			color: var(--white);
			background: var(--primary);
		}
		.avatar {
			border-color: #fff;
		}
	}
}
.pricing-section-header {
	.title {
		margin-left: auto;
		margin-right: auto;
		max-width: 580px;
		color: var(--white);
	}
	color: var(--white);
	.subtitle {
		color: var(--white);
	}
}
.customer-shape {
	background: var(--blue);
	filter: blur(337.5px);
	border-radius: 35px;
	width: 434.84px;
	height: 434.84px;
	right: 0;
	position: absolute;
	opacity: 0.6;
}
.pricing-section {
	position: relative;
	padding-top: 85px;
	padding-bottom: 77px;
	.pricing-shape {
		position: absolute;
		inset: 0 0 280px 0;
	}
	.container {
		position: relative;
		z-index: 1;
		@include breakpoint(xl) {
			max-width: 1234px;
		}
	}
	@include breakpoint(max-md) {
		.pricing-shape {
			max-height: 100vh;
		}
	}
}
.__pricing {
	display: flex;
	padding-top: 55px;
	// align-items: center;
	&-item {
		background: #ffffff;
		box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
			0px 10px 10px -5px rgba(0, 0, 0, 0.04);
		width: 335px;
		display: flex;
		flex-direction: column;
		position: relative;
		.__pricing-btn {
			box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
				0px 2px 4px -1px rgba(0, 0, 0, 0.06);
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #323fd4;
			height: 50px;
			transition: all ease 0.3s;
			background: #fff;
			&:hover {
				color: #fff;
				background: #323fd4;
			}
			&.active {
				background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
				color: #fff;
				&:hover {
					opacity: 0.85;
				}
			}
		}
		&:nth-of-type(3n + 1) {
			border-radius: 20px 0px 0px 20px;
			.__pricing-item-bottom {
				border-radius: 0 0 0 20px;
			}
		}
		&:nth-of-type(3n + 2) {
			border-radius: 20px;
			flex-grow: 1;
			border: 2px solid var(--primary);
			.__pricing-item-bottom {
				border-radius: 0 0 20px 20px;
				ul {
					margin-bottom: 40px;
				}
			}
			margin-top: -50px;
			margin-bottom: -10px;

			.__pricing-item-top {
				.name {
					font-weight: 600;
					font-size: 30px;
					line-height: 36px;
				}
			}
		}
		&:nth-of-type(3n + 3) {
			border-radius: 0 20px 20px 0;
			.__pricing-item-bottom {
				border-radius: 0 0 20px 0;
			}
		}
		&-bottom {
			padding: 40px;
			background: #f9fafb;
			flex-grow: 1;
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					color: #6b7280;
					img {
						margin-right: 12px;
					}
					&:not(:last-child) {
						margin-bottom: 16px;
					}
					display: flex;
					span {
						width: 0;
						flex-grow: 1;
					}
				}
				margin-bottom: 32px;
			}
		}
		&-top {
			padding: 40px 24px;
			text-align: center;
			.name {
				font-weight: 500;
				font-size: 24px;
				line-height: 32px;
				color: #111827;
				margin-bottom: 16px;
			}
			.price {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				.amount {
					font-size: 60px;
					line-height: 1;
					font-weight: 800;
					margin: 0 5px -5px;
				}
				.symbol {
					font-weight: 500;
					font-size: 36px;
					line-height: 40px;
					/* identical to box height, or 111% */

					/* gray/900 */

					color: #111827;
				}
				small {
					color: #6b7280;
					font-weight: 500;
					font-size: 24px;
					line-height: 32px;
				}
			}
		}
		@include breakpoint(max-xl) {
			width: 290px;
		}
		@include breakpoint(max-lg) {
			@include breakpoint(md) {
				.__pricing-item-top {
					padding-top: 25px;
					padding-bottom: 20px;
					.name {
						transform: scale(0.9);
						margin-bottom: 0;
					}
					.price {
						transform: scale(0.9);
					}
				}
				.__pricing-item-bottom {
					padding: 15px;
					ul {
						li {
							font-size: 14px;
							font-weight: 400;
							&:not(:last-child) {
								margin-bottom: 8px;
							}
							img {
								width: 20px;
							}
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-md) {
		flex-wrap: wrap;
		&-item {
			width: 100%;
			margin: 0 !important;
			border-radius: 20px !important;
			&-bottom {
				border-radius: 0 0 20px 20px !important;
			}
		}
		gap: 24px;
		padding-top: 20px;
	}
	@include breakpoint(max-sm) {
		&-item {
			box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
			.__pricing-item-top {
				padding-top: 25px;
				padding-bottom: 20px;
				.name {
					transform: scale(0.9);
					margin-bottom: 0;
				}
				.price {
					transform: scale(0.9);
				}
			}
			.__pricing-item-bottom {
				padding: 15px 15px 20px;
				ul {
					li {
						font-size: 14px;
						font-weight: 400;
						&:not(:last-child) {
							margin-bottom: 8px;
						}
						img {
							width: 20px;
						}
					}
				}
			}
		}
	}
}
.__pricing-tag {
	position: absolute;
	top: -14px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	border-radius: 14px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 2px 16px;
	background: var(--primary);
	color: var(--white);
	font-weight: 600;
	font-size: 14px;
}
.faq-section {
	padding-top: 43px;
	position: relative;
	overflow: hidden;
	.shape {
		width: 434.84px;
		height: 434.84px;
		left: -251.84px;
		top: -40px;
		position: absolute;

		background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
		filter: blur(337.5px);
		border-radius: 35px;
		opacity: 0.7;
	}
}
.__faq {
	position: relative;
	z-index: 99;
	margin-bottom: 33px;
	.accordion-item {
		border: none;
		background: transparent;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.accordion-button {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		background: transparent;
		color: #303133;
		border: none;
		transition: all ease 0.2s;
		box-shadow: none;
		position: relative;
		z-index: 1;
		padding-bottom: 32px;
		padding-top: 22px;
		&::after {
			display: none;
		}
		.plus {
			display: none;
		}
		.plus,
		.minus {
			font-size: 20px;
			margin-left: auto;
			color: var(--primary);
		}
		&.collapsed {
			.plus {
				display: block;
			}
			.minus {
				display: none;
			}
		}
		border-bottom: 1px solid var(--border);
		&:not(.collapsed) {
			background: #fff;
			box-shadow: 0px 5px 15px rgba(33, 65, 182, 0.1);
			border-radius: 15px 15px 0 0;
			padding-top: 25px;
			color: var(--primary);
			border-color: transparent;
			padding-top: 24px;
			padding-bottom: 16px;
		}
	}
	.accordion-body {
		background: #fff;
		box-shadow: 0px 5px 15px rgba(33, 65, 182, 0.1);
		z-index: 1;
		padding-top: 0;
		position: relative;
		border-radius: 0 0 15px 15px;
		margin-top: -5px;
		position: relative;
		z-index: 3;
		padding: 0 24px 24px;
	}
	@include breakpoint(max-sm) {
		.accordion-button {
			padding-bottom: 22px;
			padding-top: 12px;
			font-size: 18px;
		}
	}
}
.__still-faq {
	background: #f9fafb;
	border-radius: 16px;
	padding: 32px;
	img {
		width: 120px;
	}
	h5 {
		text-transform: capitalize;
		margin-top: 32px;
		margin-bottom: 8px;
		font-weight: 700;
		font-size: 20px;
		color: #18191a;
	}

	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #303133;
	@include breakpoint(max-sm) {
		padding-left: 16px;
		padding-right: 16px;
	}
	.btn--base {
		margin-top: 32px;
	}
}
.btn--base {
	position: relative;
	padding: 16px 32px;
	display: inline-block;
	border: none;
	&::before,
	&::after {
		content: "";
		inset: 0;
		transition: all ease 0.4s;
		position: absolute;
		border-radius: 12px;
	}
	&::after {
		background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
	}
	&::before {
		background: linear-gradient(-90deg, #323fd4 0%, #f55b7a 100%);
		opacity: 0;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
		&::after {
			opacity: 0;
		}
	}
	* {
		position: relative;
		z-index: 1;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
	}
	@include breakpoint(max-sm) {
		padding: 12px 32px;
		span {
			font-weight: 600;
		}
	}
}
.mt-32 {
	margin-top: 32px;
}
.blog-section {
	position: relative;
	.blog-shape {
		position: absolute;
		width: 369px;
		height: 370px;
		right: 0;
		top: 41.27px;
		background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
		filter: blur(337.5px);
		border-radius: 35px;
		opacity: 0.8;
	}
	.container {
		position: relative;
		z-index: 1;
	}
}
.blog-item {
	display: block;
	border-radius: 14px;
	overflow: hidden;
	img {
		width: 100%;
		transition: all ease 0.3s;
	}
	position: relative;
	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 20px);
		max-width: 412px;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.9702) 0%,
			rgba(255, 255, 255, 0.99) 100%
		);
		backdrop-filter: blur(3px);
		padding: 28px 36px;
		.title {
			font-size: 26px;
			font-weight: 600;
			color: var(--blue);
			margin-bottom: 14px;
		}
		color: #303133;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		.date {
			margin-top: 16px;
		}
		@include breakpoint(max-sm) {
			padding: 25px 20px;
			.title {
				font-size: 22px;
			}
		}
	}
	&:hover {
		img {
			transform: scale(1.04);
		}
	}
}
.home-blog-container {
	max-width: 437px;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint(lg) {
		margin-right: 0;
	}
}
.blog-item-2 {
	display: flex;
	flex-wrap: wrap;
	img {
		width: 135px;
		transition: all ease 0.3s;
		object-fit: cover;
	}
	.img {
		overflow: hidden;
		border-radius: 14px;
	}
	.content {
		width: 0;
		flex-grow: 1;
		padding-left: 24px;
		font-size: 12px;
		line-height: 18px;
		text-transform: capitalize;
		color: #303133;
		border-radius: 15px;
		.title {
			color: var(--blue);
			font-weight: 500;
			margin-bottom: 16px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.text {
			margin-bottom: 15px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&:not(:last-child) {
		@include breakpoint(max-sm) {
			width: 100%;
			object-fit: cover;
			img {
				width: 130px;
				height: 100px;
			}
		}
		margin-bottom: 42px;
	}
	@include breakpoint(max-sm) {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		.content {
			.title {
				font-size: 18px;
				margin-bottom: 8px;
			}
		}
	}
	&:hover {
		img {
			transform: scale(1.07);
		}
	}
}
/*Footer*/
.footer-top {
	padding: 95px 0 90px;
	border-bottom: 1px solid #ffffff36;
	@media (max-width: 575px) {
		padding: 85px 15px 70px;
	}
}
.__footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
	.subtitle {
		margin-bottom: 25px;
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		color: var(--white);
		font-family: var(--body);
	}
	@include breakpoint(max-lg) {
		gap: 60px;
		.subtitle {
			margin-bottom: 14px;
		}
	}
	@media (max-width: 575px) {
		gap: 40px;
	}
}
.__footer-about {
	width: 100%;
	max-width: 410px;
	.logo {
		display: inline-block;
		margin-bottom: 30px;
	}
	p {
		margin-bottom: 30px;
	}
	.subtitle {
		margin-bottom: 14px;
	}
	@include breakpoint(max-lg) {
		max-width: 100%;
	}
}
.__social-icons {
	display: flex;
	gap: 30px;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
	@include breakpoint(max-sm) {
		li {
			a {
				svg {
					height: 30px;
				}
			}
		}
	}
}
.__quick-links-wrap {
	max-width: 260px;
}
.__quick-links {
	display: flex;
	flex-direction: column;
	gap: 17px;
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		a {
			color: var(--white);
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.016em;
		}
	}
	@include breakpoint(max-lg) {
		gap: 13px;
		li {
			a {
				font-size: 18px;
			}
		}
	}
}
.__widget-about {
	width: 100%;
	max-width: 260px;
	@include breakpoint(max-lg) {
		max-width: 220px;
	}
	.__quick-links + .subtitle {
		margin-top: 26px;
	}
}
.footer-bottom {
	padding: 30px 0;
	font-size: 18px;
	letter-spacing: 0.016em;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.97);
	@include breakpoint(md) {
		padding: 65px 0;
	}
}
/*Page Header*/
.page-header {
	padding: 65px 0;
	&::before {
		content: "";
		background: linear-gradient(104.77deg, #323fd4 3.99%, #f06e88 101.59%);
		mix-blend-mode: screen;
		inset: 0;
		position: absolute;
		// opacity: 0.78;
	}
	position: relative;
	.container {
		position: relative;
		z-index: 1;
	}
	@include breakpoint(lg) {
		min-height: 260px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.page-header-content {
	max-width: 639px;
	margin: 0 auto;
	text-align: center;
	.title {
		margin-bottom: 12px;
		color: #ffffff;
		font-size: 48px;
		line-height: 58px;
		font-weight: 800;
	}
	.text {
		font-weight: 500;
		font-size: 20px;
		line-height: 151.02%;
		color: #ffffff;
	}
	@include breakpoint(max-lg) {
		.title {
			font-size: 42px;
		}
		.text {
			font-size: 18px;
			font-weight: 400;
		}
	}
	@include breakpoint(max-sm) {
		.title {
			font-size: 32px;
		}
		.text {
			font-size: 16px;
		}
	}
}
/*Contact Page*/
.form-label {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	display: block;
	text-transform: capitalize;
	color: #444649;
	margin-bottom: 5px;
}
.form-control {
	background: #ffffff;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	height: 46px;
	outline: none;
	box-shadow: none !important;
}
textarea.form-control {
	height: 106px;
}
.__contact-wrapper {
	position: relative;
	@include breakpoint(lg) {
		max-width: 515px;
	}
	.title {
		font-weight: 700;
		font-size: 48px;
		line-height: 62px;
		text-transform: capitalize;
		color: #3d51df;
		margin-bottom: 20px;
	}
	.text {
		font-weight: 500;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 48px;
	}
	@include breakpoint(max-sm) {
		.title {
			font-size: 30px;
			line-height: 1.4;
			margin-bottom: 5px;
		}
		.text {
			margin-bottom: 35px;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.6;
		}
	}
}

.react-tel-input .country-list {
	bottom: 100%;
	top: unset;
}
.react-tel-input .flag-dropdown {
	border: none;
	background: transparent;
}
.react-tel-input {
	// border-bottom: 1px solid #e5e5e5;
}
.react-date-picker__wrapper {
	border: none;
}
.react-date-picker {
	border-bottom: 1px solid #ebebeb;
}
.react-date-picker__wrapper * {
	outline: none;
}
.react-tel-input {
	text-align: left;
}

.react-tel-input .search {
	display: flex;
	align-items: center;
}
.react-tel-input .search input {
	flex-grow: 1;
	margin-right: 10px;
}
.react-tel-input .form-control {
	width: 100% !important;
	height: 46px !important;
}
.auth-section,
.contact-section {
	position: relative;
	overflow: hidden;
	.shape-1 {
		background: #3d51df;
		filter: blur(337.5px);
		border-radius: 35px;
		top: calc(100% - 60px);
		position: absolute;
		left: -200px;
		width: 434.84px;
		height: 434.84px;
	}
	.shape-2 {
		width: 369px;
		height: 370px;
		right: -100px;
		top: 396px;
		background: linear-gradient(90deg, #323fd4 0%, #f55b7a 100%);
		filter: blur(337.5px);
		border-radius: 35px;
		position: absolute;
	}
}
.or-options {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 24px;
	&::before,
	&::after {
		content: "";
		bottom: 50%;
		height: 1px;
		width: 0;
		background: var(--border);
		flex-grow: 1;
	}
	span {
		padding: 0 10px;
	}
}
.__login-wrapper {
	.title {
		margin-bottom: 32px;
	}
	@include breakpoint(lg) {
		max-width: 435px;
	}
}
.sign-in-with-subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #111827;
}
.sign-in-with {
	display: flex;
	flex-wrap: nowrap;
	gap: 12px;
	margin-top: 5px;
	a {
		flex-grow: 1;
		background: #ffffff;
		padding: 10px 20px;
		border: 1px solid #d1d5db;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.h-56px {
	height: 56px;
	padding-top: 0;
	padding-bottom: 0;
}
.auth-img {
	@include breakpoint(max-lg) {
		max-width: 100%;
	}
}
